<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>

<body>

    <nav>
        <a href="/">На главную</a>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <p style="text-align:right; ">&copy; napluch, 2026</p>
</body>

</html>