{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
<h1>Добро пожаловать в Codenames AI!</h1>

<img src="{{ url_for('static', filename='images/cover.jpg') }}" alt="Игра Codenames" class="rules-image">

<p> Это новая версия полюбившейся создательнице и её семье версия игры Codenames (кодовые имена)! </p>
<p> Но здесь вам придётся научиться думать так, как делают это нейросетки:) </p>
<p> Перед вами 25 слов. Из них 15 зелёных, которые вам предстоит угадать по подсказкам.
    Нажав на кнопку "получить подсказку", вы получите слово-подсказку и количество слов, которые были загаданы
    искусственным интеллектом. </p>
<p> По очереди открывайте карточки на поле. Ваша задача - открыть все 15 слов. Будьте внимательны: если вы откроете
    черную карточку,
    игра окончится! Удачи! </p>
</p>
<p>Нажмите кнопку ниже, чтобы начать игру.</p>

<a href="/play"><button>Начать игру</button></a>


{% endblock %}